* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;

    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.container {
    padding: 30px;
    max-width: 600px;
}

h1 {
    font-size: 150px;
    line-height: 1;
    color: #38bdf8;

    text-shadow: 0 0 25px rgba(56, 189, 248, 0.5);
}

h2 {
    font-size: 32px;
    margin-top: 20px;
}

p {
    color: #94a3b8;
    font-size: 18px;
    margin: 15px 0 30px;
    line-height: 1.6;
}

.home-btn {
    display: inline-block;

    padding: 12px 25px;

    background: #38bdf8;
    color: #0f172a;

    text-decoration: none;
    font-weight: bold;

    border-radius: 8px;

    transition: 0.3s;
}

.home-btn:hover {
    background: white;
    transform: translateY(-3px);
}