*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    min-height:100vh;
    background:linear-gradient(135deg,#667eea,#764ba2);
    display:flex;
    justify-content:center;
    align-items:center;
}


.container{

    width:450px;
    background:white;
    padding:30px;
    border-radius:15px;
    box-shadow:0 10px 25px rgba(0,0,0,0.2);

}


h2{
    text-align:center;
    margin-bottom:25px;
    color:#333;
}


label{
    display:block;
    margin-top:12px;
    font-weight:bold;
}


input,select,textarea{

    width:100%;
    padding:12px;
    margin-top:5px;
    border:1px solid #ccc;
    border-radius:8px;
    outline:none;

}


textarea{
    height:80px;
    resize:none;
}


.gender{

    margin-top:8px;

}


.gender input{

    width:auto;
    margin-right:5px;

}


.check{

    margin-top:15px;

}


.check input{

    width:auto;

}


button{

    width:48%;
    padding:12px;
    margin-top:20px;
    border:none;
    border-radius:8px;
    background:#667eea;
    color:white;
    cursor:pointer;
    font-size:16px;

}


button:hover{

    background:#5563d8;

}


.reset{

    background:#555;

}


.reset:hover{

    background:#333;

}